<section class="abp--section--page-error abp--contenair--page">
  <div class="abp--oops">
    <img src="assets/images/oops.png" alt="OOPS" />
  </div>
  <div class="abp--500">
    <div class="abp--500--title">
      <h1>{{ 'pageError.title' | translate }}</h1>
    </div>
    <img src="assets/images/error-500.gif" alt="server error" />
    <div class="abp--500--description">
      <h2>{{ 'pageError.description' | translate }}</h2>
    </div>
  </div>
  <div class="abp--mj">
    <img src="assets/images/micheal-jackson-dancing.gif" alt="Michael Jackson dancing" />
  </div>
</section>
