<section class="abp--section--loader" *ngIf="show">
  <div class="abp--loader--title">{{ 'loader.loading' | translate }}</div>
  <div class="abp--loader--subtitle">{{ 'loader.pleaseWait' | translate }}</div>
  <div class="abp--loader--container">
    <div class="abp--animation--container">
      <div class="abp--lightning--container">
        <div class="abp--lightning white"></div>
        <div class="abp--lightning pink"></div>
      </div>
      <div class="abp--boom--container">
        <div class="abp--shape abp--circle abp--big white"></div>
        <div class="abp--shape abp--circle white"></div>
        <div class="abp--shape abp--triangle abp--big yellow"></div>
        <div class="abp--shape abp--disc white"></div>
        <div class="abp--shape abp--triangle blue"></div>
      </div>
      <div class="abp--boom--container abp--second">
        <div class="abp--shape abp--circle abp--big white"></div>
        <div class="abp--shape abp--circle white"></div>
        <div class="abp--shape abp--disc white"></div>
        <div class="abp--shape abp--triangle blue"></div>
      </div>
    </div>
  </div>
</section>
