// variables globale
// Background
$primary--background: #1F2E36
$secondary--background: #e3f0ff
$primary--background--pink: #e0115f
$secondary--background--pink: #f088af

// text color
$primary--text--color: #e3f0ff
$secondary--text--color: #1F2E36
$link--text--color: #313869

$carbon: #303030
$success: #2e8b57
$error: #cd5c5c
$info: #2471a3
$warning: #d68910

// variables pour le loader
$loader--white: #e3f0ff
$loader--pink: #e0115f
$loader--triangle: #12E020
$loader--triangle--big: #E0D028
$loader--disc: #28BFE0


// variables pour les notifications
$notification--success-1: #2e8b57
$notification--success-2: #3b9b6b
$notification--success-3: #49ac80
$notification--success-4: #57bc95
$notification--success-5: #66cdaa
$notification--success-text: #145a32

$notification--error-1: #cd5c5c
$notification--error-2: #d66565
$notification--error-3: #df6e6e
$notification--error-4: #e77777
$notification--error-5: #f08080
$notification--error-text: #7b241c

$notification--info-1: #2471a3
$notification--info-2: #3480b2
$notification--info-3: #428ec2
$notification--info-4: #509ed2
$notification--info-5: #5dade2
$notification--info-text: #1a5276

$notification--warning-1: #d68910
$notification--warning-2: #df982e
$notification--warning-3: #e7a745
$notification--warning-4: #f0b55b
$notification--warning-5: #f8c471
$notification--warning-text: #935116

// Menu
$active--menu: rgba(#e0115f, 0.5)
$hover--menu: rgba(#e3f0ff, 0.2)
